body
{
    background-color: bisque;
}
h1
{
    color:orange;
    text-align:center;
}
p
{
    font-family: "Times New Roman", serif;
    font-size:20px;
}

table
{
color: black;
    width: 60%;
    margin: 0 auto;
}

tr:nth-child(2)
{
width: 100px;
}